@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-color: rgb(233, 244, 252);
    min-height: 100vh;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    padding: 8vh 5vw 0 5vw;
}

h1,
.responses-header {
    text-align: center;
    color: #570df8;
    font-weight: 700;
    font-size: 3rem;
}

.directions {
    display: block;
    margin-top: 10px;
    background-color: #3d4451;
    color: white;
    padding: 10px 5px;
    width: 100%;
    text-align: center;
    border-radius: 4px 4px 0 0;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.form,
.all-responses-container {
    width: 500px;
    min-height: 660px;
    padding: 1%;
    border-radius: 1%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;

    overflow: auto;
}
.all-responses-container {
    max-height: 685px;
}

.form {
    max-height: fit-contet;
}

.form {
    transition: all 0.2s ease;
    margin-right: 15px;
}

textarea {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
    max-width: 100%;
    max-height: 300px;
    resize: vertical;
    min-height: 200px;
    outline: none;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 7px 0px;
    padding: 8px;
    border: 1px solid #5d5df09c;
    transition: all 0.3s ease;
    font-weight: 600;
    color: rgb(60, 60, 60);
    letter-spacing: 1.05px;
    font-size: 0.9rem;
}

textarea:hover {
    background-color: #e6e6f39c;
}

textarea::placeholder {
    font-weight: 700;
    color: rgb(183, 182, 182);
}

button {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: #5d5df08e 0 10px 20px -10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 120px;
    min-width: 110px;
    word-break: break-word;
    border: 0;
    transition: all 0.2s ease;
    margin-right: 10px;
    height: 44px;
}

.submit-btn {
    background: #570df8;
    border: 2px solid #570df8;
}

.loading-btn {
    padding: 0 25px;
    background: #570df8;
    border: 2px solid #570df8;
}

.clear-btn,
.print-csv-btn {
    background: white;
    color: #570df8;
    border: 2px solid #570df8;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

.print-csv-btn {
    margin-top: 0;
    width: fit-content;
}

button:hover {
    transform: scale(1.03);
}

.response {
    background-color: #5d5df021;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(112, 112, 116, 0.05) 0px 7px 7px 0px;
    position: relative;
    transition: all 0.3s ease;
}

.response:hover {
    background-color: #5d5df02f;
}

.response .ticket-number {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
.all-responses-container {
    height: auto;
    overflow: hidden;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.close-btn:hover {
    color: black;
    transform: scale(1.2);
}

.response-message {
    width: 93%;
}

.note {
    padding: 4px 0;
}
.resolved {
    background-color: rgb(174, 252, 174);
    padding: 4px 4px 4px 0;
    border-radius: 5px;
    display: inline-block;
}

.all-responses {
    overflow: auto;
    height: fit-content;
    max-height: 430px;
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
        justify-content: center;
        width: 100%;

        padding: 10px;
    }

    .form,
    .all-responses-container {
        width: 90vw;
        min-width: 350px;
    }
    .form {
        overflow: auto;
        min-height: none;
        height: fit-content;
        min-width: 450px;
        margin-right: 0;
        max-height: fit-content;
    }

    .all-responses-container {
        margin-top: 5%;
    }

    textarea {
        min-height: 200px;
    }

    button {
        font-size: 80%;
        padding-left: 12px;
        padding-right: 12px;
        white-space: nowrap;
    }
}
